/*---------- Sass Variabler --------- */
$primary_black: #252525;
$primary_red: #af0404;
$primary_white: #ffffff;
$primary_gold: #cda46b;
/*---- */
$secondary_black: #121212;
$secondary_red: #74071e;
$secondary_white: #fefffe;
$secondary_goldt: #bf8c53;
/*---- */
$tone_lightgray: #ededed;
$tone_gray: #707070;
$tone_darkgray: #414141;
$tone_black: #000000;
/*----------------------------------- */
/*------------ fonts -------------- */
$secondary_font: "Playfair Display", serif;
$primary_font: "Abel", sans-serif;
/*----------------------------------- */
/*------------ general -------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

h1 {
    font-family: $secondary_font;
    font-weight: 700;
    font-size: 45px;
}

h2 {
    font-family: $secondary_font;
    font-size: 25px;
    font-weight: 100;
}
h3 {
    font-family: $secondary_font;
    font-size: 20px;
    font-weight: 100;
}

h4 {
    font-family: $secondary_font;
    font-size: 15px;
    font-weight: 100;
}

h5 {
    font-family: $secondary_font;
    font-size: 12px;
    font-weight: 100;
}

h6 {
    font-family: $secondary_font;
    font-size: 8px;
    font-weight: 100;
}

p {
    font-family: $primary_font;
    font-size: 14px;
}

.white_text {
    color: $primary_white;
}

section {
    padding: 20px 10%;
}

.line {
    height: 2px;
    background-color: $primary_gold;
}

button {
    color: $primary_white;
    cursor: pointer;
    font-family: $primary_font;
    font-size: 20px;
}

.button_red {
    background-color: $primary_red;
    border: none;
}

.button_black {
    background-color: $primary_black;
    border: 1px solid $primary_white;
}
/*----------------------------------- */
/*------------ header -------------- */

header {
    background-color: $primary_black;
    height: 10vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

nav {
    background-color: $primary_black;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    z-index: 2;
}

.logo {
    width: 120px;
    float: right;
}

.fa-map-marker {
    color: $primary_white;
    padding-right: 4px;
}

/* ---------------------------- hamburger menu----------------------- */

#menu {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-top: 20px;
}
.bar {
    height: 3px;
    width: 100%;
    background-color: $primary_white;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}
#bar3 {
    transform: translateY(4px);
}

.navigation_link {
    list-style: none;
    color: $primary_white;
    font-size: 14px;
}

.last_child {
    border: 1px solid $primary_red;
    padding: 5px;
    width: fit-content;
}

.nav_list li {
    padding: 12px 0;
}

.nav_list {
    padding: 0;
    margin: 0 15px 20px;
    transition: 0.3 ease;
    display: none;
    font-family: $primary_font;
    font-size: 20px;
    list-style-type: none;
    z-index: 2;
}

.sub_nav {
    display: none;
    list-style-type: none;
    background-color: $primary_black;
}

.open_menu {
    color: $primary_white;
    cursor: pointer;
    font-size: 16px;
}

.change .bar {
    background-color: $primary_white;
}
.change #bar1 {
    transform: translateY(4px) rotate(-45deg);
}
.change #bar3 {
    transform: translateY(-2px) rotate(45deg);
}
.change #bar2 {
    opacity: 0;
}

.change {
    display: block;
}

/*----- Header End -----*/

/*------- Main -------*/
/*------- Index -------*/

.hero_video_section {
    height: 400px;
}

.content_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    top: 20%;
}

.hero_section_button {
    margin: 15px;
    padding: 10px;
}

.index_about_section {
    background-color: $primary_black;
}

.index_about_line {
    width: 145px;
    position: relative;
    left: -10%;
    margin: 5px 0 15px 0;
}

.index_about_img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.index_about_p {
    margin: 15px 0;
}

.index_about_button {
    padding: 5px;
}

/*----- About grid -----*/
.grid-container {
    background-color: $primary_black;
    display: grid;
    height: 600px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "h2_area"
        "line_area"
        "img_area"
        "p_area"
        "button_area";
}

.h2_area {
    grid-area: h2_area;
}

.line_area {
    grid-area: line_area;
}

.img_area {
    grid-area: img_area;
}

.p_area {
    grid-area: p_area;
}

.button_area {
    grid-area: button_area;
}

/*-----------------------*/

.link_button {
    display: none;
}

.index_product_line {
    position: relative;
    left: -10%;
    margin: 10px 0 25px 0;
}

.product_article_wrapper {
    display: flex;
}

.product_article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product_link {
    display: flex;
    justify-content: center;
}

.index_product_img {
    width: 80%;
}

.layer {
    background-color: $tone_lightgray;
    height: 65px;
    width: 120px;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
    margin-bottom: 25px;
}

.index_product_p {
    text-decoration: underline 1px solid $primary_gold;
}

.index_guidance_section {
    background-color: $tone_lightgray;
}

.index_guidance_line {
    position: relative;
    left: -10%;
    margin: 10px 0 35px 0;
}

.guidance_article_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.index_guidance_article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}

.index_guidance_img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.index_guidance_p {
    margin: 15px 0;
}

.index_guidance_button {
    margin: 0 0 15px 0;
}
/*----- Index End -----*/
/*----- Main End -----*/

/*----- Forhandler start -----*/

.find_vendor {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vendor_h1 {
    font-size: 20px;
    margin-top: 25px;
    text-align: center;
}

.vendor_line {
    width: 150px;
    margin: 5px 0 25px 0;
}

#map {
    width: 100%;
    height: 300px;
}

.mapboxgl-popup-content {
    background-color: $primary_red;
}

.mapboxgl-popup-content p {
    color: $primary_white;
}

.mapboxgl-popup-content a {
    color: $primary_white;
    text-decoration: none;
    font-size: 14px;
    font-family: $primary_font;
}

.mapboxgl-popup-tip {
    border-top-color: $primary_red !important;
}

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
    display: none;
}
/*----- Forhandler slut -----*/

/*----- Start Om Draupnir Danmark -----*/
/*-- Om Draupnir -- */
.about {
    background-color: $primary_white;
}

.about_h1 {
    text-align: center;
}

.about_line {
    margin: 5px auto 25px auto;
    width: 255px;
}

.about_img {
    width: 100%;
    margin-bottom: 10px;
}

.about_p_hide {
    display: none;
}

.about_button {
    background-color: transparent;
    border: none;
    color: $primary_black;
    text-align: left;
    border: solid $primary_red;
    margin-top: 10px;
    width: 130px;
    border: solid $primary_red;
    text-align: center;
}

.open {
    display: block;
}
/*-- profilrytter -- */
.about_profile_rider {
    background-color: $primary_black;
}

.rider_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 1400px;
}

.about_profile_rider_h2 {
    color: $primary_white;
    text-align: center;
}

.about_profile_rider_line {
    margin: 5px auto 5px auto;
    width: 140px;
}

.rider_profile {
    background-color: $primary_white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 410px;
}

.rider_img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 10px;
    margin-top: 20px;
}

.about_rider_line {
    margin: 10px auto 10px auto;
    width: 190px;
}

.about_rider_p {
    text-align: center;
    margin: 5px 20px 5px 20px;
}

/*-- Øvrige ryttere -- */
.about_talented_riders {
    background-color: $tone_lightgray;
}

.talented_riders_h2 {
    text-align: center;
}

.talented_riders_line {
    margin: 20px auto 20px auto;
    width: 140px;
}

.talented_rider_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.talented_riders {
    text-align: center;
    width: 40%;
    height: 150px;
}

.talented_rider_img {
    width: 80%;
}

.talented_riders_p {
    position: relative;
    padding-top: 10px;
}
/*----- Slut Om Draupnir Danmark -----*/

/*-------- Kontakt --------*/
.contact_section {
    padding: 0;
    width: 100%;
}

.contact_wrapper {
    border: 1px solid $primary_black;
    padding: 20px;
    margin: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_line {
    width: 200px;
    margin-bottom: 10px;
}

.contact_img {
    width: 100%;
    height: 100%;
}
/*----- Kontakt Slut -----*/

/*----------------*/

/*----------------*/
/*---- Footer ----*/

footer {
    background-color: $primary_black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_h2 {
    margin: 5px 0 25px 0;
}

.copyright {
    font-size: 12px;
    text-align: center;
    margin-bottom: 5px;
}

.icon_section {
    display: flex;
    flex-direction: row;
}
.icon {
    height: 25px;
    width: 25px;
    fill: $primary_white;
    stroke: $primary_white;
}
.icon_background {
    background-color: $primary_red;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.icon_anchor {
    height: 25px;
}

/* --- mediaquery ipad og tablets ----- */
@media screen and (min-width: 672px) and (max-width: 950px) {
    h1 {
        font-size: 75px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 25px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 18px;
    }

    h6 {
        font-size: 16px;
    }

    p {
        font-size: 18px;
    }

    /*----- Header -----*/

    .logo {
        width: 180px;
    }

    #menu {
        height: 45px;
        width: 45px;
    }

    .bar {
        height: 5px;
    }

    .change #bar1 {
        transform: translateY(6px) rotate(-45deg);
    }
    .change #bar3 {
        transform: translateY(-4px) rotate(45deg);
    }

    .navigation_link {
        font-size: 18px;
    }

    /*------ Header End ------*/

    /*------- Main -------*/
    /*------- Index -------*/

    .index_about_line {
        width: 205px;
        left: -10%;
        margin: 5px 0 30px 0;
    }

    .index_about_img {
        height: 450px;
    }

    .index_about_button {
        margin-bottom: 30px;
    }

    .grid-container {
        height: 800px;
    }

    .index_product_line {
        left: -10%;
        width: 380px;
        margin: 10px 0 50px 0;
    }

    .product_article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .index_product_img {
        width: 80%;
    }

    .layer {
        height: 120px;
        width: 220px;
    }

    .index_product_p {
        margin-bottom: 50px;
    }

    .index_guidance_line {
        left: -10%;
        width: 430px;
        margin: 10px 0 50px 0;
    }

    .index_guidance_img {
        height: 350px;
    }

    .index_guidance_p {
        margin: 20px 0;
    }

    .index_guidance_button {
        margin: 0 0 40px 0;
        padding: 2px 30px;
    }
    /*----- Index End -----*/
    /*----- Main End -----*/

    .vendor_h1 {
        font-size: 30px;
    }

    .vendor_line {
        width: 400px;
    }

    #map {
        height: 500px;
    }

    .mapboxgl-popup-content a {
        font-size: 18px;
    }

    /*-- Om Draupnir -- */

    .about_line {
        width: 445px;
    }

    /*-- profilrytter -- */

    .rider_wrapper {
        height: 1475px;
    }

    .about_profile_rider_line {
        width: 160px;
    }

    .rider_profile {
        width: 50%;
        height: 440px;
    }

    .about_rider_line {
        width: 280px;
    }

    /*-- Øvrige ryttere -- */

    .talented_riders_line {
        margin: 20px auto 25px auto;
        width: 175px;
    }

    .talented_riders {
        text-align: center;
        width: 30%;
        height: 170px;
    }

    .talented_rider_img {
        width: 60%;
    }
    /*----- Slut Om Draupnir Danmark -----*/

    /*------ Footer ------*/
    .footer_h2 {
        margin: 5px 0 25px 0;
        font-size: 30px;
    }

    .copyright {
        font-size: 12px;
        text-align: center;
        margin-bottom: 5px;
    }

    .icon_section {
        display: flex;
        flex-direction: row;
    }

    .icon_background {
        background-color: $primary_red;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 12px;
    }
}

/*----- Footer End -----*/

/* ------ mediaquery desktop ---------- */
@media screen and(min-width: 951px) {
    h1 {
        font-family: $secondary_font;
        font-weight: 700;
        font-size: 90px;
    }

    h2 {
        font-family: $secondary_font;
        font-size: 50px;
    }

    h3 {
        font-family: $secondary_font;
        font-size: 40px;
    }

    h4 {
        font-family: $secondary_font;
        font-size: 30px;
    }

    h5 {
        font-family: $secondary_font;
        font-size: 25px;
    }

    h6 {
        font-family: $secondary_font;
        font-size: 16px;
    }

    p {
        font-family: $primary_font;
        font-size: 20px;
    }

    /*----- Header -----*/

    header {
        flex-direction: row;
    }

    nav {
        width: 100%;
        position: static;
        display: flex;
        justify-content: flex-end;
    }

    .nav_list {
        width: 60%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0;
    }

    .sub_nav {
        position: absolute;
        padding: 0 15px;
    }

    .navigation_link {
        padding: 0;
    }

    .last_child {
        padding: 5px 10px;
    }

    .logo {
        width: 200px;
        float: left;
    }

    #menu {
        display: none;
    }

    /*------- Main -------*/
    /*------- Index -------*/

    .hero_video_section {
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content_wrapper {
        top: 0;
    }

    .hero_section_button {
        margin: 70px;
        padding: 2px 30px;
    }
    /*---------*/

    .index_about_section {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 700px;
    }

    .index_about_line {
        width: 305px;
        left: 10px;
    }

    .index_about_button {
        padding: 5px;
        width: 150px;
        height: 50px;
        margin-top: 40px 0 1px 0;
    }
    /*---------*/

    /*----- About grid -----*/
    .grid-container {
        background-color: $primary_black;
        display: grid;
        height: 500px;

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "img_area h2_area"
            "img_area line_area"
            "img_area p_area"
            "img_area button_area";
    }

    .img_area {
        display: flex;
    }
    .index_about_img {
        height: 100%;
        padding-top: 15px;
    }
    .p_area,
    .h2_area,
    .button_area {
        margin-left: 75px;
    }

    .button_area {
        display: flex;
        align-items: flex-end;
    }

    /*-----------------------*/
    .index_product_section {
        height: 700px;
        padding-top: 50px;
    }
    .product_article_wrapper {
        justify-content: space-around;
    }

    .link_button {
        display: block;
        position: absolute;
        border: none;
        background-color: transparent;
        font-size: 0;
        padding: 2px 30px;
    }

    .product_link {
        pointer-events: none;
    }

    .alignment_wrapper {
        width: fit-content;
    }

    .index_product_line {
        width: 118%;
        left: -18%;
    }

    .layer {
        height: 250px;
        width: 500px;
        margin-bottom: 25px;
        opacity: 0.8;
    }

    .index_product_p {
        margin-bottom: 50px;
    }
    /*---------*/
    .index_guidance_section {
        background-color: $tone_lightgray;
        height: 550px;
        padding-top: 50px;
    }

    .index_guidance_line {
        position: relative;
        left: -15%;
        margin: 10px 0 50px 0;
        width: 115%;
    }

    .guidance_article_wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .index_guidance_article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .index_guidance_img {
        width: 95%;
        height: 250px;
        object-fit: cover;
        transition: all 1s;
    }

    .grayscale {
        filter: grayscale(100%);
    }

    .index_guidance_p {
        margin: 15px 0;
    }

    .index_guidance_button {
        margin: 0 0 15px 0;
        position: relative;
        top: -185px;
        font-size: 0;
        background-color: transparent;
        padding: 2px 30px;
    }
    /*----- Index End -----*/
    /*----- Main End -----*/
    .vendor_h1 {
        font-size: 50px;
    }

    .vendor_line {
        width: 400px;
    }
    #map {
        height: 600px;
    }

    .mapboxgl-popup-content a {
        font-size: 20px;
    }

    /*-- Om Draupnir -- */
    .about {
        height: 100%;
    }

    .about_line {
        display: flex;
        margin: 5px auto 25px auto;
        width: 96%;
        margin-left: -10%;
    }

    .about_text_wrapper {
        width: 100%;
        margin: auto;
    }

    .about_img {
        width: 536px;
        height: 300px;
        object-fit: cover;
        margin: 10px;
        float: right;
        border: 1px solid $primary_black;
    }

    .open {
        display: block;
    }
    /*-- profilrytter -- */

    .rider_wrapper {
        flex-direction: row;
        height: 600px;
    }

    .about_profile_rider_h2 {
        text-align: center;
        margin-top: 20px;
    }

    .about_profile_rider_line {
        margin: 10px auto 50px auto;
        width: 270px;
    }

    .rider_profile {
        width: 31%; //398
        height: 100%; //530
        margin-bottom: 20px;
        text-align: center;
    }

    .rider_img {
        border-radius: 50%;
        width: 250px;
        height: 250px;
    }

    .about_rider_line {
        width: 90%; //300
    }

    .about_rider_p {
        margin: 10px 20px 10px 20px;
    }

    /*-- Øvrige ryttere -- */

    .talented_riders_line {
        margin: 30px auto 30px auto;
        width: 140px;
    }

    .talented_rider_wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .talented_riders {
        text-align: center;
        width: 25%;
        height: 400%;
    }

    .talented_rider_img {
        width: 85%;
    }

    .talented_riders_p {
        position: relative;
        padding-top: 20px;
        bottom: 10px;
        padding-bottom: 30px;
    }
    /*----- Slut Om Draupnir Danmark -----*/

    /*-------- Kontakt --------*/
    .contact_section {
        padding: 0;
        width: 100%;
        height: 500px;
    }

    .contact_wrapper {
        position: absolute;
        top: 200px;
        background-color: $primary_white;
        height: 220px;
    }

    .contact_line {
        width: 200px;
        margin-bottom: 10px;
    }

    .contact_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    /*----- Kontakt Slut -----*/
}
